In [4]:
import sys
sys.path.insert(0, './src/results')
import numpy as np
from utils import PHNALL
from load import load_all_p1, load_all_p2
import pandas as pd

data = load_all_p2(clear_badlines=True, add_bleu=True)
dataP1 = load_all_p1()
data['sev'] = data.apply(lambda row: sum([0 if np.isnan(row[phnName]) else row[phnName] for phnName in PHNALL]), axis=1)

Loading data
Removing bad lines
Computing BLEU
Loading data

In [87]:
pd.options.display.max_colwidth = 90
pd.options.display.max_rows = 70

In [96]:
data[(data['style']>=0.75)][['txt_tgt', 'sev', 'bleu', 'mkb', 'role']]

,txt_tgt,sev,bleu,mkb,role
447,"During the evaluation of the management system, the control focused on the activities ...",2.25,24.081575,kontrola,NaN
448,"During the evaluation of the management system, the audit focused on the activities ca...",2.25,24.790401,kontrola,NaN
451,"During the evaluation of the management system, the audit focused on the activities ca...",2.25,23.341444,kontrola,NaN
453,"During the evaluation of the management system, the audit focused on the activities ca...",2.25,22.043435,kontrola,NaN
3992,The Agreement of Cooperation between the Czech Supreme Audit Office (NKU) and the Supr...,1.75,100.000000,supreme,NaN
4169,The inspection carried out also included elements of the performance audit.,1.00,11.530568,kontrola,NaN
4412,Jak se opovažuješ? ' Thunbergův projev OSN inspiruje nizozemské klimatické protestující,1.00,4.340713,climate,NaN
4413,"""Jak se opovažuješ?"" Thunbergův projev OSN inspiruje nizozemské klimatické demonstranty",1.00,3.433102,climate,NaN
4483,"Banging bicí a drží obrazy Thunbergu, protestující chodili do centra města s plakáty č...",1.75,2.002887,climate,NaN

In [100]:
index = 4413
print(data.loc[index])
print(data.loc[index]['txt_ref'])
print(data.loc[index]['txt_tgt'])

user                                                                                               euroe-0
doc                                                                                                  euroe
domain                                                                                                news
mkb                                                                                                climate
model                                                                            newstest2020-online-a.sgm
line                                                                                                     0
mkbIndex                                                                                                 0
txt_ref          'Jak se opovažujete?' projev Thunbergové v OSN inspiroval nizozemské protestující prot...
txt_tgt            "Jak se opovažuješ?" Thunbergův projev OSN inspiruje nizozemské klimatické demonstranty
lang                                                                                                    cs
tootranslated                                                                                          NaN
disappearance                                                                                          NaN
typography                                                                                             NaN
style                                                                                                 0.75
nontranslated                                                                                          NaN
terminology                                                                                            NaN
inconsistency                                                                                          NaN
sense                                                                                                  NaN
role                                                                                                   NaN
grammar                                                                                               0.25
conflict                                                                                               NaN
bleu                                                                                                3.4331
sev                                                                                                      1
Name: 4413, dtype: object
'Jak se opovažujete?' projev Thunbergové v OSN inspiroval nizozemské protestující proti změnám klimatu
"Jak se opovažuješ?" Thunbergův projev OSN inspiruje nizozemské klimatické demonstranty

In [19]:
dataP1[(dataP1['doc'] == 'brouke')]['line']

0       0
1       0
2       0
3       0
4       0
       ..
359    27
360    27
361    27
362    27
363    27
Name: line, Length: 364, dtype: int64

In [14]:
SEARCH_STRING = 'povinno'
# SEARCH_STRING = SEARCH_STRING.replace(r'\niceuline{', '').replace('}', '')
# data[data['txt_tgt'].str.contains(SEARCH_STRING)][PHNALL+['mkb', 'line', 'user', 'bleu']]
dataP1[dataP1['txt_tgt'].str.contains(SEARCH_STRING)]

Empty DataFrame
Columns: [user, doc, line, model, txt_ref, txt_tgt, lang, errors, domain, fluency, adequacy, mult]
Index: []