In [77]:
import sys
sys.path.insert(0, './src/results')
import numpy as np
from utils import nicename, nicephn, PHNALL
from load import load_all_p1, load_all_p2
import pandas as pd

data = load_all_p2(clear_badlines=True, add_bleu=True)
dataP1 = load_all_p1()
data['sev'] = data.apply(lambda row: sum([0 if np.isnan(row[phnName]) else row[phnName] for phnName in PHNALL]), axis=1)

Loading data
Removing bad lines
Computing BLEU
Loading data

In [87]:
pd.options.display.max_colwidth = 90
pd.options.display.max_rows = 70

In [96]:
data[(data['style']>=0.75)][['txt_tgt', 'sev', 'bleu', 'mkb', 'role']]

,txt_tgt,sev,bleu,mkb,role
447,"During the evaluation of the management system, the control focused on the activities ...",2.25,24.081575,kontrola,NaN
448,"During the evaluation of the management system, the audit focused on the activities ca...",2.25,24.790401,kontrola,NaN
451,"During the evaluation of the management system, the audit focused on the activities ca...",2.25,23.341444,kontrola,NaN
453,"During the evaluation of the management system, the audit focused on the activities ca...",2.25,22.043435,kontrola,NaN
3992,The Agreement of Cooperation between the Czech Supreme Audit Office (NKU) and the Supr...,1.75,100.000000,supreme,NaN
4169,The inspection carried out also included elements of the performance audit.,1.00,11.530568,kontrola,NaN
4412,Jak se opovažuješ? ' Thunbergův projev OSN inspiruje nizozemské klimatické protestující,1.00,4.340713,climate,NaN
4413,"""Jak se opovažuješ?"" Thunbergův projev OSN inspiruje nizozemské klimatické demonstranty",1.00,3.433102,climate,NaN
4483,"Banging bicí a drží obrazy Thunbergu, protestující chodili do centra města s plakáty č...",1.75,2.002887,climate,NaN

In [100]:
index = 4413
print(data.loc[index])
print(data.loc[index]['txt_ref'])
print(data.loc[index]['txt_tgt'])

user                                                                                               euroe-0
doc                                                                                                  euroe
domain                                                                                                news
mkb                                                                                                climate
model                                                                            newstest2020-online-a.sgm
line                                                                                                     0
mkbIndex                                                                                                 0
txt_ref          'Jak se opovažujete?' projev Thunbergové v OSN inspiroval nizozemské protestující prot...
txt_tgt            "Jak se opovažuješ?" Thunbergův projev OSN inspiruje nizozemské klimatické demonstranty
lang                                                                                                    cs
tootranslated                                                                                          NaN
disappearance                                                                                          NaN
typography                                                                                             NaN
style                                                                                                 0.75
nontranslated                                                                                          NaN
terminology                                                                                            NaN
inconsistency                                                                                          NaN
sense                                                                                                  NaN
role                                                                                                   NaN
grammar                                                                                               0.25
conflict                                                                                               NaN
bleu                                                                                                3.4331
sev                                                                                                      1
Name: 4413, dtype: object
'Jak se opovažujete?' projev Thunbergové v OSN inspiroval nizozemské protestující proti změnám klimatu
"Jak se opovažuješ?" Thunbergův projev OSN inspiruje nizozemské klimatické demonstranty

In [70]:
dataP1[(dataP1['line'] == 8) & (dataP1['doc'] == 'kufrc') & (dataP1['model'] == 'Online-G')]

,user,doc,line,model,txt_ref,txt_tgt,lang,errors,domain,fluency,adequacy,mult
1495,kufrc-1,kufrc,8,Online-G,"In Art. III of the Sublease agreement, entitle...","In art. III of the apartment lease agreement, ...",en,2,lease,0.9,0.8,0.72
1879,kufrc-0,kufrc,8,Online-G,"In Art. III of the Sublease agreement, entitle...","In art. III of the apartment lease agreement, ...",en,0,lease,0.7,0.5,0.35

In [75]:
SEARCH_STRING = 'In art. III of the apartment lease agreement, ca'
SEARCH_STRING = SEARCH_STRING.replace(r'\niceuline{', '').replace('}', '')
data[data['txt_tgt'].str.contains(SEARCH_STRING)][PHNALL+['mkb', 'line', 'user', 'bleu']]
# dataP1[dataP1['txt_tgt'].str.contains(SEARCH_STRING)]

,disappearance,typography,sense,style,terminology,inconsistency,nontranslated,conflict,grammar,role,tootranslated,mkb,line,user,bleu
1521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,III,8,kufrc-1,51.064068
1547,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,čl,8,kufrc-1,51.064068
1625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nájemkyně,8,kufrc-1,51.064068
1937,NaN,NaN,0.25,NaN,0.50,NaN,NaN,1.00,0.25,NaN,NaN,podnájemkyně,8,kufrc-1,51.064068
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,podnájemkyně,8,kufrc-1,51.064068
2275,NaN,NaN,NaN,NaN,0.50,NaN,NaN,1.00,NaN,NaN,NaN,podnájmu,8,kufrc-1,51.064068
2288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,podnájmu,8,kufrc-1,51.064068
2379,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,předmětný,8,kufrc-1,51.064068
2919,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,předmětný,8,kufrc-0,51.064068
3049,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,čl,8,kufrc-0,51.064068
3192,NaN,NaN,NaN,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,podnájmu,8,kufrc-0,51.064068
3205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,podnájmu,8,kufrc-0,51.064068
3335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nájemkyně,8,kufrc-0,51.064068
3517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,III,8,kufrc-0,51.064068
3582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.75,NaN,NaN,NaN,podnájemkyně,8,kufrc-0,51.064068
3634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,podnájemkyně,8,kufrc-0,51.064068